*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white; /*#59c1d3;*/
}

main{
    margin: 20px 50px;
    border: 3px solid white;
    background-color:rgba(245, 222, 179, 0.616);
}

header h1{
    text-align: center;
    color: rgb(201, 51, 51);
    text-decoration-line: underline;
}

.content-style{
    background-color: rgb(199, 141, 177, 0.7);
    text-align: center;
    width: 70%;
    margin: 20px auto;
    border: 2px solid white;
    color: rgb(114, 19, 19);
    padding-top: 20px;
}

.anchor-styles{
    display: block;
    text-decoration: none;
    padding-top: 20px;
    color: aliceblue;
}

a:hover{
    background-color: black;
    opacity: 70%;
    display: inline-block;
    padding: 10px;
}

footer {
    text-align: center;
}
