*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/gaming_bg.jpg);   
}

h1{
   display: block;
    text-align: center;
    color: greenyellow;
    border: 3px solid rgb(185, 162, 31);
    padding: 20px;
    margin: 50px auto 50px auto; /* felső és alsó 50px, bal-jobb auto */
    width: fit-content;
}

nav a {
    text-decoration: none;
    color: greenyellow;
    font-size: larger;
}

.Menu li {
    display: inline;
    margin: 20px;
    margin-top: 50px ;
    font-size: larger;
}

.Menu li.float-right{
    float: right;
}


.text-style{

    text-align: center;
    font-size: larger;
    color: black;
    background-color: mediumaquamarine ;
    opacity: 70%;
    margin: 0 500px;
    border: 3px solid rgb(6, 65, 6);  /* legyenek szövegdobozok az oldalon */
    float:right;
    margin-bottom: 50px;
}

.box-align{
    margin: 0 auto;
    float: left;
}


