*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CEA07E;
    width: 70%;
    margin: 0 auto;
    border: 2px solid #E2E8C0;
}

/*Header formating Start Here*/
.header-footer-style{
    background-color: #846C5B;
    text-align: center;
    color: #EDD9A3;
    padding: 20px 0;
}

header h1 {
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    font-style: italic;
    line-height: 1.3;
}

/*Header formating End Here*/

/*Menu formatting Start Here*/
.menu-style {
    background-color: #EDD9A3;
    margin: 0 auto; 
    padding: 10px;
    border: 5px solid #CEA07E;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*position: sticky;
    top: 0;*/
    z-index: 1;
}

ul {
    margin: 25px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}


nav ul li a{
    text-decoration: none;
    color: #846C5B;
    margin-left: 150px;
}

nav ul li a:hover{
    background-color: #443742;
    border: 5px solid #CEA07E;
    border-radius: 10px;
}

nav ul li a i{
    height: 10px;
    width: 10px;
}

/*Menu formatting End Here*/

/*Content formatting Start Here */
section{
    background-color:#E2E8C0;
    text-align: justify;
    color: #443742;
    padding: 15px;
}
.h2-style{
    line-height: 3;
    text-decoration:underline;
}

#animated-list{
    z-index: 0;
}

.motivation-li-style{
    font-size: smaller;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.text-align{
    text-align: center;
    list-style: none;
}

.strategyofmotivation{
    font-style: italic;
    line-height: 1.3;
    text-align: center;
    list-style: none;
}

.littleicon-sizing{
    font-size: 33px;
    text-decoration: none;
    color: #c09544;
}
/*Content formatting Start Here */

/*subpage style */

.text-box{
    border: 5px solid #CEA07E;
    padding:5px;
    margin: 15px; 
}

section img{
    display: block;
    padding-top: 50px;
    margin: 0 auto;
}

.h3-style{
    text-align: center;
}

/*Form*/

.form-style{
    margin: 40px;
}

.form-style input{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}