*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(245, 235, 235);
    color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

header{
    grid-column: 1/13;
    grid-row: 1;
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}

.navbar{
    grid-column: 1/13;
    grid-row: 2;
    background-color: #ffb7c563;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
}

.navbar a:hover{
    color:rgb(221, 29, 141);
}

.h1p-text{
    margin: 20px auto;
    color: black;
    text-align: center;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    
}

.menu-left{
    margin-left: 25px;
    margin-right: auto;
}

.menu-center{
    margin: 0 10px;
}

.menu-right{
    margin-left: auto;
    margin-right: 25px;
}

.menu-right + .menu-right{
    margin-left: 10px;
}

.video-position{
    position: relative;
    grid-column: 1/13;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
}

.div-video1{
    width: 80%;
    display: block;
}

aside{
    background-color: rgb(170, 170, 170);
    grid-column: 1/4;
    grid-row: 3;
}

.section1{
    grid-column: 1/13;
    grid-row: 4;
    text-align: center;
    margin: 20px;
}

.section1 p{
    margin-bottom: 20px;
}

.section2{
    grid-column: 1/13;
    grid-row: 5;
    text-align: center;
}

.section2 p{
    padding-bottom: 20px;
}

footer{
    grid-column: 1/13;
    background-color: black;
    color: white;
    text-align: center;
}

