*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.formattingofmain{
    max-width: 1920px;
    background-color: #DBD8E3;
    margin: 0 auto;
    color: #2A2438;
    font-family: "Playwrite NZ Basic", cursive;
    font-size: larger;

}

header a img{
    margin: 10px 50px;
}

.text h1{
    font-size: smaller;
    grid-column: 1/13;
    font-weight: 500;
    margin: 0 35px 10px 35px;
}

 p{
    grid-column: 11/13;
}

nav.formatting-of-nav{
    background-color: rgba(130, 130, 130, 0.315);
    border: 3px solid white;
    border-radius: 10px;
    padding: 0 40px;
    grid-column: 1/7;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:last baseline;
    align-items: baseline;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    align-items: center;
}

nav a:hover{
    color: #DBD8E3;
}

section{
    margin: 10px;
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 10px;
}

section h2{
    grid-column: 1;
    grid-row: 1;
    font-size: xx-large;

}
section img{
    grid-column: 1;
    grid-row: 2;
    border: 3px solid white;
    border-radius: 10px;
}

section p{
    grid-column: 2/5;
    grid-row: 2;
    border: 3px solid #5C5470;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
}

footer#copy{
    grid-column: 1/13;
    text-align: center;
    font-size: larger;
    border: 3px solid white;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    align-content:center;
}

