*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 80%;
    background-color: #D7B520;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

main#container{
    display: grid;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 15px;
    grid-template-columns: 30%, 70%;
    grid-auto-rows: minmax(150px, auto);
    background-color: #fff;
}

#opheader.hot-header{
    height: 200px;
    background: url(../image/beach1.png);
    background-size: cover;
    background-color: #E7E6E6;
    border: 3px solid #6789A8;
    border-radius: 15px ;
    text-align: center;
    grid-column: 1 / 13; 
}

#aside{
    background-color: #5B9BD5;
    border: 3px solid #6789A8;
    border-radius: 15px;
    margin: 20px;
    grid-row: 2/7;
}

#aside ul{
    font-size: larger;
    text-align: center;
    margin: 20px;
    margin-bottom: 70px;
}
#aside ul li{
    display: inline;
    text-decoration: none;
    padding: 15px;
}

#aside ul li a{
    text-decoration: none;
    color: black;
}

#aside ul li a:hover{
    background-color: grey;
    padding: 8px;
    border-radius: 10px;
}

#aside h4{
    margin: 15px;
}


.formatting-label{
    display: block;
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.formatting-text{
    margin: 40px;
    padding-bottom: 15px;
}

.formatting-text input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
}

.formatting-span{
    display: block;
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    padding: 20px;
}

button{
    background-color: black;
    color: white;
    float: right;
    padding: 10px;
    border: 3px solid #6789A8;
    border-radius: 15px ;
}

#section1{
    background-color:#FBE5D6;
    grid-column: 5/13;
    grid-row: 2/3 ;
}

.section123{
    width: auto;
    margin: 20px;
    border: 3px solid #6789A8;
    border-radius: 15px ;
}

.section123 h2{
    margin: 20px;
    text-align: center;
}
.section123 img{
    float: right;
    margin: 10px;
    border: 3px solid #6789A8;
    border-radius: 15px ;
}

.section123 p{
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

#section2 {
    background-color: #FFF2CC;
    grid-column: 5/13;
    grid-row: 3/4 ;
}

#section3{
    background-color: #DEEBF7;
    grid-column: 5/13;
    grid-row: 4 / 7;
}


footer{
    background-color: #E7E6E6;
    text-align: center;
    border: 3px solid #6789A8;
    border-radius: 15px ;
    padding: 30px;
    margin: 15px;
    grid-column: 1 / 13;
    grid-row: 7/8;
}

@media (max-width: 767px){

    main#container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #opheader,
    #aside,
    #section1,
    #section2,
    #section3,
    footer{
        grid-column: 1 / -1;
        grid-row: auto;
        width: 80%;
        margin: 10px auto;
        float: none;
    }

    .img-mobile{
        width: 50%;
    }
}
